/* This is the mobile responsive stylesheet */

@media only screen and (max-width: 1024px) {
    /* tablets and desktop */
	.pier h1{font-size:36px; line-height:40px; margin:15px 0;}
	.pier h2{font-size:24px; line-height:28px; margin:15px 0;}
	.pier h3{font-size:16px; line-height:20px; margin:15px 0;}
	.head1 h4, .head2 h4, .head3 h4, .head4 h4{margin:0 auto; padding:0;font-size:24px; line-height:26px;}
	h5{margin:15px auto; padding:0; font-size:40px; line-height:44px;}
	.captionfoto{padding:10px; font-size:14px; line-height: 16px; background:#f9f9f9; color:#999; border-bottom:1px solid #eee;}
	.head1, .head2, .head3, .head4{background-size:cover;background-position: center;}
		.mainvideo .box-title h2.title{font-size:24px; line-height:28px; }
	.mainvideo .box-title p.title{font-size:16px; line-height:20px;}



}
@media only screen and (max-width: 800px) {
.tuyun1, .tuyun2, .tuyun3{position:relative; border-bottom:8px solid #fff;}
.forest1, .forest2{position:relative; border-bottom:8px solid #fff;}
.tuyun1 h4, .tuyun2 h4, .tuyun3 h4{padding-left:0; width:50%; margin:0; position:absolute; left:30px; font-size:18px; line-height:22px;}
.hide_mobile{display:none; visibility:hidden; height:0;}
.forest1 h4, .forest2 h4{font-size:18px; line-height:22px; margin:0 auto; padding:0;}
.hide_mobile{display:none; visibility:hidden;}
.hide_desktop{display:block; visibility:visible; height:auto;}
#nav a{bottom:0;height: 50px;width: 32px; position:relative;}
.mainvideo .box-title{top:50px;}
.tribune-logo-shadow img{width:100px; height: auto; margin:0 auto;}
}
@media only screen and (max-width: 767px) {
    /* phones */
    .content {
      margin: 0 auto;
      position: relative;
      width: 100%;
      padding: 1em;
    }

    blockquote.left {

        margin: 0 1em 1em 0;
        background: wheat;
        padding: 1em;
        font-size: 1.5em;
        width: 90%;
        position: relative;
    }

    .overlay_fig figcaption {
      position: absolute;
      bottom: 8px;
      left: 0;
      background: rgba(0,0,0,0.6);
      width: 97%;
      font-size: 1em;
      color: white;
      padding: 0.33em
    }

    .content.man {
      padding: 1em;
  background: none;
    }

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}
