html {font-family: 'Montserrat', sans-serif;/* 1 */-ms-text-size-adjust:none; /* 2 */-webkit-text-size-adjust:none; /* 2 */font-size:16px; -webkit-font-smoothing: antialiased; font-weight:400; color:#000000;margin:0 auto;}
div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
article,aside,details,time,caption,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {display: inline-block; /* 1 */vertical-align: baseline; /* 2 */}
audio:not([controls]) {display: none;height: 0;}
[hidden],template {display: none;}
abbr[title] {border-bottom: 1px dotted;}
b,strong {font-weight: bold;}
dfn {font-style: italic;}
mark {background: #ff0;color: #000;}
small {font-size: 80%;}
sub,sup {font-size:60%;line-height: 0;position: relative;vertical-align: baseline;}
sup {top: -0.5em;left:1px;}
sub {bottom: -0.25em;}
img {border: 0; display:block;}
/*svg:not(:root) {overflow: hidden;}*/
figure {margin:0;}
hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0;}
pre {overflow: auto;}
code,kbd,pre,samp {font-size: 1em;}
button,input,optgroup,select,textarea {color: inherit; /* 1 */font: inherit; /* 2 */margin: 0; /* 3 */}
button {overflow: visible;}
button,select {text-transform: none;}
button,html input[type="button"], /* 1 */input[type="reset"],input[type="submit"] {-webkit-appearance: button; /* 2 */cursor: pointer; /* 3 */}
button[disabled],html input[disabled] {cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input {line-height: normal;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */ }
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}
input[type="search"] {-webkit-appearance: textfield; /* 1 */-moz-box-sizing: content-box;-webkit-box-sizing: content-box; /* 2 */box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}
legend {border: 0; /* 1 */padding: 0; /* 2 */}
textarea {overflow: auto;}
optgroup {font-weight: bold;}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;}
/*base*/
.videoframe{position:relative;padding-bottom:56.25%;padding-top:25px;height:0; margin:30px 0;}.videoframe iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.fade{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-ms-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
@-webkit-keyframes come { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes come { from { opacity:0; } to { opacity:1; } }
@keyframes come { from { opacity:0; } to { opacity:1; } }
.fadeIn {	opacity:0;	-webkit-animation:come ease-in 1;	-moz-animation:come ease-in 1;	animation:come ease-in 1;	-webkit-animation-fill-mode:forwards;	-moz-animation-fill-mode:forwards;	animation-fill-mode:forwards;-webkit-animation-duration:0.3s;	-moz-animation-duration:0.3s;	animation-duration:0.3s;}
a {color: white; background-color:#f7931e; text-decoration: none; padding-right: 20px; padding-left: 20px; padding-top: 10px; padding-bottom: 10px; border-radius: 5px; box-shadow: 3px 5px #888888;}
a:hover {color: white; background-color: #c1151b;}
a:visited {color: white; background-color: #999;}
a[tabindex]:focus {background-color: #999; outline: none;}
a:focus {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;}

body::-webkit-scrollbar {width:6px; background:rgba(255,255,255,0.1);}
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
body::-webkit-scrollbar-thumb {background-color:#666666;}
body::-webkit-scrollbar:horizontal {height:6px;}
body::-webkit-scrollbar:vertical {width:6px;}

@media screen and (min-width:801px){
#cd-lateral-nav::-webkit-scrollbar {width:6px; background:rgba(255,255,255,0.1);}
#cd-lateral-nav::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
#cd-lateral-nav::-webkit-scrollbar-thumb {background-color:#666666;}
#cd-lateral-nav::-webkit-scrollbar:horizontal {height:6px;}
#cd-lateral-nav::-webkit-scrollbar:vertical {width:6px;}
}
.padding-no {padding:0 !important;}.padding-xs{padding:5px 15px;}.padding-sm{padding:10px 30px;}.padding-top-no {padding-top:0 !important;}.padding-top-ss {padding-top:5px !important;}.padding-top-xs {padding-top:10px !important;}.padding-top-sm {padding-top:15px !important;}.padding-top-lg {padding-top:45px !important;}.padding-top{padding-top:30px !important;}.padding-bottom-no {padding-bottom:0 !important;}.padding-bottom-ss {padding-bottom:5px !important;}.padding-bottom-xs {padding-bottom:10px !important;}.padding-bottom-sm {padding-bottom: 15px !important;}.padding-bottom-lg {padding-bottom:45px !important;}.padding-bottom {padding-bottom:30px !important;}.padding-left-no {padding-left:0 !important;}.padding-left-ss {padding-left:5px !important;}.padding-left-xs{padding-left:10px !important;}.padding-left-sm {padding-left:15px !important;}.padding-left-lg {padding-left:45px !important;}.padding-left {padding-left:30px !important;}.padding-right-no {padding-right: 0 !important;}.padding-right-ss {padding-right:5px !important;}.padding-right-xs {padding-right:10px !important;}.padding-right-sm {padding-right:15px !important;}.padding-right-lg {padding-right:45px !important;}.padding-right {padding-right:30px !important;}
.margin-no {margin:0 !important;}.margin-xs{margin:5px 15px;}.margin-sm{margin:10px 30px;}.margin-top-no {margin-top:0 !important;}.margin-top-xs {margin-ss:5px !important;}.margin-top-xs {margin-top:10px !important;}.margin-top-sm {margin-top:15px !important;}.margin-top-lg {margin-top:45px !important;}.margin-top {margin-top:30px !important;}.margin-bottom-no {margin-bottom:0 !important;}.margin-bottom-ss {margin-bottom:5px !important;}.margin-bottom-xs {margin-bottom:10px !important;}.margin-bottom-sm {margin-bottom:15px !important;}.margin-bottom-lg {margin-bottom:45px !important;}.margin-bottom {margin-bottom:30px !important;}.margin-left-no {margin-left:0 !important;}.margin-left-ss {margin-left:5px !important;}.margin-left-xs {margin-left:10px !important;}.margin-left-sm {margin-left:15px !important;}.margin-left-lg {margin-left:45px !important;}.margin-left {margin-left:30px !important;}.margin-right-no {margin-right:0 !important;}.margin-right-ss {margin-right:5px !important;}.margin-right-xs {margin-right:10px !important;}.margin-right-sm {margin-right:15px !important;}.margin-right-lg {margin-right:45px !important;}.margin-right {margin-right:30px !important;}.bg-twitter{background:#77cbef !important;}.bg-facebook{background:#537abd !important;}.bg-google{background:#ea5d4b !important;}.bg-linkedin{background:#1384c8 !important;}.bg-daily{background:#0064dc !important;}.bg-youtube{background:#c8302a !important;}.bg-instagram{background:#444 !important;}.bg-whatsapp{background:#2ab200 !important;}.bg-line{background:#4ecd00 !important;}.bg-tumblr{background:#395976 !important;}.cl-twitter{color:#77cbef !important;}.cl-facebook{color:#537abd !important;}.cl-google{color:#ea5d4b !important;}.cl-linkedin{color:#1384c8 !important;}.cl-daily{color:#0064dc !important;}.cl-youtube{color:#c8302a !important;}.cl-instagram{color:#444 !important;}.cl-whatsapp{color:#2ab200 !important;}.bg-line{color:#4ecd00 !important;}.cl-tumblr{color:#395976 !important;}
*, *::after, *::before {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.t-center{text-align:center !important;}.t-right{text-align:right !important;}.t-left{text-align:left !important;}
.hidden{opacity: 0;}.visible{opacity: 1;}.left{float:left !important;}.right{float:right !important;}
.glower {-webkit-animation: glow .5s infinite alternate;}
@-webkit-keyframes glow {to {text-shadow: 1px 1px 20px rgba(0,255,255,0.5);}}
/*body*/
body{margin:0 auto; padding:0; display:block;}
.container{margin:0 auto; max-width:1200px; padding:0 15px; display:block; min-height:20px; position:relative;}
.container.full{max-width:100%;}
.container.small{max-width:1020px;}
.container-col{margin-left:-15px; margin-right:-15px;}
.mainbody{position:relative; width:100%; padding:0 15px; margin:0 auto; max-width: 1200px; overflow:hidden;}
.box-100{width:100%; padding:0 15px; margin:0; min-height:22px; dispay:block; clear:both;}
/*scroll up*/
.scrollup {display:none; border:3px solid #000; position: fixed; width:50px; height:50px; z-index:5; bottom:10px; right:10px; cursor: pointer;opacity:1;filter: alpha(opacity=30);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; cursor:pointer;color:#000; display:flex; align-items:center; justify-content:center; background:rgba(255,255,255,0.4);}
.scrollup:hover{opacity:0.9;filter: alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)"; border-color:#999; color:#999;}
/*mainmenu*/
.box-menu{width:100%; margin:0 auto; height:36px; padding:0; background:#f6f6f6;}
ul.mainmenu{list-style:none; list-style-position:inside; padding:0 15px; margin:0 auto; max-width:1200px; height:36px; display:flex; flex-direction:row; align-items:center; justify-content:space-between;}
ul.mainmenu li{float:left;font-size:14px; line-height:16px;}
ul.mainmenu li a{padding:10px;}
.menuicon{float:left; padding-left:15px; margin:0 auto;}
ul.icons{list-style:none; list-style-position:inside; padding:8px 0; margin:0; overflow:hidden;}
ul.icons li{float:left; width:52px; height:32px; display:flex; align-items:center; justify-content:center; font-size:18px;}
/*color*/

.cl-white{color:#fff !important;}
.cl-grayc{color:#ccc !important;}
.cl-graye5{color:#e5e5e5 !important;}
.cl-black28{color:#282828 !important;}
.cl-gray9{color:#999 !important;}
.cl-black{color:#000 !important;}
.cl-red{color:#e3061d  !important;}
.cl-green1{color:#154d08 !important;}
.cl-green2{color:#092304 !important;}
/*bg*/
.bg-white{background:#fff !important;}
.bg-grayc{background:#ccc !important;}
.bg-graye5{background:#e5e5e5 !important;}
.bg-black28{background:#282828 !important;}
.bg-gray9{background:#999 !important;}
.bg-black{background:#000 !important;}
.bg-red{background:#e3061d !important;}
.bg-green1{background:#154d08 !important;}
.bg-green2{background:#092304 !important;}
/*cmd*/
.hide_desktop{display:none; visibility:hidden;}
.nopad{padding:0;}
.dblock{display:block;}
.centering{display: flex !important;align-items: center !important;justify-content: center !important;}
.centering.column{flex-direction:column;}
.centering.row{flex-direction:row;}
.clear{clear:both;}
.overflow{overflow:hidden;}
/*article*/
article{overflow:hidden; padding:30px 0;}
article p{font-size:20px; line-height:28px; color:#666666; margin:0 50px 0px 50px;}
article p img{width:100%; height: auto; margin:0 auto;}
/*footer*/
/*footer*/
.footer-in{background:#101010; padding:30px 15px; min-height:200px;  width:100%;}
.footer-in .foot-logo{margin:0 auto 10px auto; text-align:center; overflow:hidden;}
.footer-in .foot-logo img{width:auto; height:30px; display:block; margin:0 auto;}
ul.foot-link{padding:10px 0; margin:0 auto; list-style:none; list-style-position:inside; text-align:center;}
ul.foot-link li{margin:0 5px; text-align:center; display:inline-block; font-size:11px;}
ul.foot-link li a{color:#fff;} ul.foot-link li a:hover{color:#659ecb; text-decoration:underline;}
ul.sosmed{padding:10px 0; margin:0 auto; list-style:none; list-style-position:inside; text-align:center; overflow:hidden;}
ul.sosmed li{ display:inline-block; margin:0 3px;}
ul.sosmed li a{ width:40px; height:40px; border:2px solid #fff; color:#fff; border-radius:20px; text-align:center; line-height:34px; font-size:16px; display:inline-block;}
ul.sosmed li a:hover{color:#659ecb; border-color:#659ecb; font-size:14px; line-height:36px;}
p.copy{font-size:11px; margin-top:30px;}
/*home*/
.box-home{background:#e1e1e1 url(../images/bg-front.png) bottom center no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;  background-size: cover; min-height:95vh; overflow:hidden; padding:60px 0;}
.box-home .home-in{max-width:768px; padding:0 15px; margin-left:50px;}
.box-home h1.title{font-size:72px; line-height:74px; font-weight:700; text-align:center; margin:0 0 30px 0;}
.box-home p{font-size:20px; line-height:28px; margin-top:20px;}
.box-home a.white-btn{margin:0 auto; background:#fff; border:1px solid black; padding:15px 30px; text-align:center; color:#000; font-size:24px; width:200px; box-shadow: none}
.box-home a.white-btn:hover{background:#ccc; color:#fff;}
.box-home a.red-btn{margin:0 auto; background:#660000; padding:15px 30px; text-align:center; color:#f7931e; font-size:24px; width:200px; box-shadow: none}
.box-home a.red-btn:hover{background:#870404; color:#fff;}
.box-column .column-in h3{color:#f7931e; margin-left: 50px; margin-top: 20px}
.box-column .column-in h1{margin-left: 50px; font-size: 50px;font-family: MetaSerifLf-Book}
img.right-img{float: right;margin-right:63px; width:15%}

.box-topmenu{width:100%; height: 50px; background:#000;}
ul.topmenu{list-style: none; list-style-position: inside; margin:0 auto; padding:0 15px; height:50px; max-width:1020px; display:flex; align-items: center; justify-content: center; overflow: hidden;}
ul.topmenu li{text-transform:uppercase;display:flex; align-items: center; justify-content: center; font-size:12px; margin:0 5px;}
ul.topmenu li a{color:#808080;box-shadow: none; background: none; padding:0}
ul.topmenu li a:hover{color:#999;}
ul.topmenu li.logow{margin:18px 10px 18px 0;}
ul.topmenu li.logow img{height:14px;}
ul.topmenu li:last-child{margin-right:0;}
.column-in{margin-bottom: 50px}
ul.tombol li{display:inline-block; margin-right:10px;margin-bottom:50px;margin-top:10px;}
.desc {color: #f7931e; font-size: 55px;font-family: MetaSerifLf-Book; font-weight:50px}